<%include ./header.ejs%>
<body>
<div class="row" style="background-color:rgb(31, 30, 28);">
  <img style="height:400px; width:600px;" src="https://yt3.ggpht.com/-T47CQq4qhtg/AAAAAAAAAAI/AAAAAAAAAAA/vnZnhishezo/s900-c-k-no/photo.jpg">
</div>
<%include ./footer.ejs%>
