<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/min/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/min/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/min/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/customStyle.css" />
    <link rel="icon" href="logo.jpg" />
    <title>Agents of S.H.I.E.L.D</title>
  </head>
  <body>
    <header id="header" class="header">Loading...</header>
    <aside id="leftBar" class="leftBar">Loading...</aside>
    <div id="body" class="body">
        <a href="#"><i class="fa fa-hand-o-up"></i>this</a>
    </div>
    <footer id="footer" class="footer">Loading...</footer>
    <script type="text/javascript" src="/min/js/app.min.js"></script>
    <!-- *app.min.js contains all these files -->
    <!-- 
    <script src="/min/js/jQuery.min.js"></script>
    <script src="/min/js/bootstrap.min.js"></script>
    <script src="/min/js/react.min.js"></script>
    <script src="/min/js/react-dom.min.js"></script>
    <script src="/min/js/babel/browser.min.js"></script>
    -->
    <!-- <script type="text/babel" src="/js/header.js"></script>
    <script type="text/babel" src="/js/leftBar.js"></script>
    <script type="text/babel" src="/js/footer.js"></script>
     --><script type="text/javascript"src="/scripts/service.js"></script>
  </body>
</html>
