<%include ./header.ejs%>
  <div id="login" class="maxWidth">
    <div class="small-3"></div>
    <div class="large-2">
      <input type="email" placeholder="Email" />
    </div>
    <div class="small-1"></div>
    <div class="large-2">
      <input type="password" placeholder="Password" />
    </div>
    <div class="small-1"></div>
    <div class="small-4">
      <a href="" onclick="logInConfirm();">logIn</a>
    </div>
  </div>
  <div id="page">
    <a href="" onclick="logIn();">logIn</a>
    <div id="a" class="tColorBlack mLeft25p width75p"></div>
    <div id="sometable" class="col-md-offset-4 col-md-8"></div>
    <div id="b"></div>
    <a href="" onclick="logInConfirm();">close</a>
  </div>
  <div id="error" class="row" style="background-color:rgb(31, 30, 28);">
    <img style="height:400px; width:600px;" src="https://yt3.ggpht.com/-T47CQq4qhtg/AAAAAAAAAAI/AAAAAAAAAAA/vnZnhishezo/s900-c-k-no/photo.jpg">
  </div>
<%include ./footer.ejs%>
